<!--
<button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
    {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
  </button>
    -->
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>

<mat-horizontal-stepper [linear]="isLinear" labelPosition="bottom" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <!--  customer details form begining -->
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Customer Details</ng-template>
      <br />
      <div class="row">
        <div class="col col-lg-3" style="overflow: auto; height:450px;">
          <mat-card class="familycard" *ngIf="father">
            <div class="row">
              <div class="col-4 col-img">
                <img src="assets/img/main.png">
              </div>
              <div class="col-8 cardcontent">
                <div class="col cardcontent">
                  <mat-form-field>
                    <mat-label>Occupation</mat-label>
                    <mat-select formControlName="selectFatherOccupation" required>
                      <mat-option>--</mat-option>
                      <mat-option value="eng">
                        Enginere
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                  <mat-label class="Income-lable">Income {{amount_father}}</mat-label>
                  <mat-slider (input)="changeIncome($event,'F')" class="salary" thumbLabel [displayWith]="SalaryLabel"
                    step="10000" value="50000" tickInterval="Auto" min="40000" max="500000">
                  </mat-slider>
                  <!-- <mat-error *ngIf="animalControl.hasError('required')">Please choose an animal</mat-error> -->
                  <!-- <mat-hint>it dosent matter</mat-hint> -->
                  <mat-label class="Income-lable">Age {{age_father}}</mat-label>
                  <mat-slider (input)="changeAge($event,'F')" class="age" thumbLabel step="1" value="25"
                    tickInterval="Auto" min="20" max="65">
                  </mat-slider>
                </div>
              </div>
            </div>
          </mat-card>

          <mat-card class="familycard" *ngIf="mother">
            <div class="row">
              <div class="col-4 col-img">
                <img src="assets/img/wife.png">
              </div>
              <div class="col-8 cardcontent">
                <div class="col cardcontent">
                  <mat-form-field>
                    <mat-label>Occupation</mat-label>
                    <mat-select formControlName="selectMotherOccupation">
                      <mat-option>--</mat-option>
                      <mat-option value="eng">
                        Enginere
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                  <mat-label class="Income-lable">Income {{amount_mother}}</mat-label>
                  <mat-slider (input)="changeIncome($event,'M')" class="salary" thumbLabel [displayWith]="SalaryLabel"
                    step="10000" value="50000" tickInterval="Auto" min="40000" max="500000">
                  </mat-slider>
                  <!-- <mat-error *ngIf="animalControl.hasError('required')">Please choose an animal</mat-error> -->
                  <!-- <mat-hint>it dosent matter</mat-hint> -->
                  <mat-label class="Income-lable">Age {{age_mother}}</mat-label>
                  <mat-slider (input)="changeAge($event,'M')" class="age" thumbLabel step="1" value="25"
                    tickInterval="Auto" min="20" max="65">
                  </mat-slider>
                </div>
              </div>
            </div>
          </mat-card>

          <mat-card class="familycard" *ngIf="boy01">
            <div class="row">
              <div class="col-4 col-img">
                <img src="assets/img/child_m.png">
              </div>
              <div class="col-8 cardcontent">
                <div class="col cardcontent">
                  <mat-label class="Income-lable">Age {{age_boy01}}</mat-label>
                  <mat-slider (input)="changeAge($event,'B1')" class="age" thumbLabel step="1" value="5"
                    tickInterval="Auto" min="1" max="30">
                  </mat-slider>
                </div>
              </div>
            </div>
          </mat-card>

          <mat-card class="familycard" *ngIf="girl01">
            <div class="row">
              <div class="col-4 col-img">
                <img src="assets/img/child_f.png">
              </div>
              <div class="col-8 cardcontent">
                <div class="col cardcontent">
                  <mat-label class="Income-lable">Age {{age_girl01}}</mat-label>
                  <mat-slider (input)="changeAge($event,'G1')" class="age" thumbLabel step="1" value="4"
                    tickInterval="Auto" min="1" max="30">
                  </mat-slider>
                </div>
              </div>
            </div>
          </mat-card>
        </div>

        <div class="col col-lg-6 ">
          <!-- <h2>Done</h2> -->
          <div cdkDropList #doneList="cdkDropList" id="cdk-01" cdkDropListOrientation="horizontal"
            [cdkDropListData]="done" [cdkDropListConnectedTo]="[todoList]" class="example-list1"
            (cdkDropListDropped)=" drop($event)">
            <div class="example-box1 " *ngFor="let dones of done" cdkDrag>
              <img [src]="dones.image" width="Auto" [alt]="dones.title">
            </div>
          </div>
          <br />
          <div cdkDropList cdkDropListSortingDisabled id="cdk-02" #todoList="cdkDropList" [cdkDropListData]="family"
            [cdkDropListConnectedTo]="[doneList]" class="example-list float-left" (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let member of family" cdkDrag>{{member.title}}
              <img *cdkDragPreview class=".cdk-drag-animating" [src]="member.image" [alt]="member.title">
            </div>
          </div>
        </div>

        <div class="col col-lg-3" style="overflow: auto; height:450px;">
          <mat-accordion>
            <p>Immediate Family expenses</p>
            <mat-expansion-panel class="expansion" style="background-color: rgb(238, 224, 202) !important;">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Hospital expenses {{hospital_expenses}} k
                </mat-panel-title>
                <!-- <mat-panel-description>
                Currently I am {{panelOpenState ? 'open' : 'closed'}}
              </mat-panel-description> -->
              </mat-expansion-panel-header>
              <ng-template matExpansionPanelContent>
                <mat-label class="Income-lable">Value </mat-label>
                <mat-slider (input)="changeHotel($event)" class="hotel_expenses" thumbLabel step="10000" value="40000"
                  tickInterval="Auto" min="10000" max="1000000">
                </mat-slider>
              </ng-template>
            </mat-expansion-panel>

            <mat-expansion-panel style="background-color: rgb(238, 232, 150) !important;">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Critical Illness fund {{Critical_Illness}} k
                </mat-panel-title>
                <!-- <mat-panel-description>
                  Currently I am {{panelOpenState ? 'open' : 'closed'}}
                </mat-panel-description> -->
              </mat-expansion-panel-header>
              <ng-template matExpansionPanelContent>
                <mat-label class="Income-lable">Value </mat-label>
                <mat-slider (input)="changeCritical_Illness($event)" class="Critical_Illness" thumbLabel step="10000"
                  value="40000" tickInterval="Auto" min="10000" max="1000000">
                </mat-slider>
              </ng-template>
            </mat-expansion-panel>

            <mat-expansion-panel style="background-color: rgb(223, 238, 183) !important;">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Disability expenses {{Disability_expenses}} k
                </mat-panel-title>
                <!-- <mat-panel-description>
                    Currently I am {{panelOpenState ? 'open' : 'closed'}}
                  </mat-panel-description> -->
              </mat-expansion-panel-header>
              <ng-template matExpansionPanelContent>
                <mat-label class="Income-lable">Value </mat-label>
                <mat-slider (input)="changeDisability_expenses($event)" class="Disability_expenses" thumbLabel
                  step="10000" value="40000" tickInterval="Auto" min="10000" max="1000000">
                </mat-slider>
              </ng-template>
            </mat-expansion-panel>
          </mat-accordion>
          <br>
          <mat-accordion>
            <mat-expansion-panel style="background-color: cornflowerblue !important;">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Retirement Fund {{Retirement_fund}} k
                </mat-panel-title>
                <!-- <mat-panel-description>
                        Currently I am {{panelOpenState ? 'open' : 'closed'}}
                      </mat-panel-description> -->
              </mat-expansion-panel-header>
              <ng-template matExpansionPanelContent>
                <mat-label class="Income-lable">Value </mat-label>
                <mat-slider (input)="changeRetirement_fund($event)" class="Retirement_fund" thumbLabel step="10000"
                  value="40000" tickInterval="Auto" min="10000" max="1000000">
                </mat-slider>
              </ng-template>
            </mat-expansion-panel>
          </mat-accordion>


          <br>
          <mat-accordion>
            <mat-expansion-panel style="background-color: rgb(209, 98, 120)!important;">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Life Insurance {{Life_Insurance}} k
                </mat-panel-title>
                <!-- <mat-panel-description>
                        Currently I am {{panelOpenState ? 'open' : 'closed'}}
                      </mat-panel-description> -->
              </mat-expansion-panel-header>
              <ng-template matExpansionPanelContent>
                <mat-label class="Income-lable">Value </mat-label>
                <mat-slider (input)="changeLife_Insurance($event)" class="Life_Insurance" thumbLabel step="10000"
                  value="40000" tickInterval="Auto" min="10000" max="1000000">
                </mat-slider>
              </ng-template>
            </mat-expansion-panel>
          </mat-accordion>

          <br>
          <mat-accordion>
            <mat-expansion-panel style="background-color: rgb(223, 238, 183) !important;">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Monthly Rent<b> {{rentOption ? CD_rent_amount : 'Own House'}}</b>
                </mat-panel-title>
                <!-- <mat-panel-description>
                   
                      </mat-panel-description> -->
              </mat-expansion-panel-header>
              <ng-template matExpansionPanelContent>
                <br>
                <mat-checkbox labelPosition="before" (change)="OnChangeRent($event)">For Rent</mat-checkbox>
                <mat-form-field class="full-width">
                  <input matInput type="number" placeholder="Monthly rent" #rentAmount
                    (change)="OnChangeRentAmoutn(rentAmount.value)" [attr.disabled]="!rentOption?'':null" value="5000">
                </mat-form-field>
              </ng-template>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>

      <div class="col-12">

        <button [disabled]="!firstFormGroup.valid" mat-raised-button matStepperNext class="float-right" (click)="nextSaveCustomerDetails()"
          color="primary">Next</button>
      </div>

    </form>
    <!-- customer details form ending -->
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <!-- financial streangth details form starting -->
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>My Financial Strength</ng-template>
      <div class="row">
        <div class="col col-lg-4" style="overflow: auto; height:450px;">
          <mat-accordion>
            <p>Assets</p>
            <mat-expansion-panel class="expansion" style="background-color: rgb(238, 224, 202) !important;">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Cash & Other assets {{Cash_Other_assets}}
                </mat-panel-title>
                <!-- <mat-panel-description>
                Currently I am {{panelOpenState ? 'open' : 'closed'}}
              </mat-panel-description> -->
              </mat-expansion-panel-header>
              <mat-label class="Income-lable">Value </mat-label>
              <mat-slider (input)="changeCash_Other_assets($event)" class="hotel_expenses" thumbLabel step="10000"
                value="40000" tickInterval="Auto" min="0" max="1000000">
              </mat-slider>
            </mat-expansion-panel>

            <mat-expansion-panel style="background-color: rgb(238, 232, 150) !important;">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Real Estate – Resident {{Real_Estate_Resident}}
                </mat-panel-title>
                <!-- <mat-panel-description>
                  Currently I am {{panelOpenState ? 'open' : 'closed'}}
                </mat-panel-description> -->
              </mat-expansion-panel-header>
              <mat-label class="Income-lable">Value </mat-label>
              <mat-slider (input)="changeReal_Estate_Resident($event)" class="Critical_Illness" thumbLabel step="10000"
                value="40000" tickInterval="Auto" min="0" max="1000000">
              </mat-slider>
            </mat-expansion-panel>

            <mat-expansion-panel style="background-color: rgb(223, 238, 183) !important;">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Real Estate – No Resident {{Real_Estate_No_Resident}}
                </mat-panel-title>
                <!-- <mat-panel-description>
                    Currently I am {{panelOpenState ? 'open' : 'closed'}}
                  </mat-panel-description> -->
              </mat-expansion-panel-header>
              <mat-label class="Income-lable">Value </mat-label>
              <mat-slider (input)="changeReal_Estate_No_Resident($event)" class="Disability_expenses" thumbLabel
                step="10000" value="40000" tickInterval="Auto" min="0" max="1000000">
              </mat-slider>
            </mat-expansion-panel>

            <mat-expansion-panel style="background-color: rgb(223, 238, 183) !important;">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Business Interest {{Business_Interest }}
                </mat-panel-title>
                <!-- <mat-panel-description>
                    Currently I am {{panelOpenState ? 'open' : 'closed'}}
                  </mat-panel-description> -->
              </mat-expansion-panel-header>
              <mat-label class="Income-lable">Value </mat-label>
              <mat-slider (input)="changeBusiness_Interest($event)" class="Disability_expenses" thumbLabel step="10000"
                value="40000" tickInterval="Auto" min="0" max="1000000">
              </mat-slider>
            </mat-expansion-panel>

            <mat-expansion-panel style="background-color: rgb(223, 238, 183) !important;">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Pension Fund {{Pension_Fund}}
                </mat-panel-title>
                <!-- <mat-panel-description>
                    Currently I am {{panelOpenState ? 'open' : 'closed'}}
                  </mat-panel-description> -->
              </mat-expansion-panel-header>
              <mat-label class="Income-lable">Value </mat-label>
              <mat-slider (input)="changePension_Fund($event)" class="Disability_expenses" thumbLabel step="10000"
                value="40000" tickInterval="Auto" min="0" max="1000000">
              </mat-slider>
            </mat-expansion-panel>

            <mat-expansion-panel style="background-color: rgb(223, 238, 183) !important;">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Insurance cash value {{Insurance_cash_value}}
                </mat-panel-title>
                <!-- <mat-panel-description>
                    Currently I am {{panelOpenState ? 'open' : 'closed'}}
                  </mat-panel-description> -->
              </mat-expansion-panel-header>
              <mat-label class="Income-lable">Value </mat-label>
              <mat-slider (input)="changeInsurance_cash_value($event)" class="Disability_expenses" thumbLabel
                step="10000" value="40000" tickInterval="Auto" min="0" max="1000000">
              </mat-slider>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
        <div class="col col-lg-4" style="overflow: auto; height:450px;">
          <br><br>
          <h3 style="align-self: center;">{{MFS_Balance}} K </h3>
          <div style="display: block">
            <canvas baseChart [datasets]="barChartData" [labels]="mbarChartLabels" [options]="barChartOptions"
              [colors]="barChartColors" [legend]="barChartLegend" [chartType]="barChartType"
              (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
          </div>
        </div>
        <div class="col col-lg-4" style="overflow: auto; height:450px;">
          <mat-accordion>
            <p>Liabilities</p>
            <mat-expansion-panel class="expansion" style="background-color: rgb(238, 224, 202) !important;">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Mortgage - Residence {{Mortgage_Residence}}
                </mat-panel-title>
                <!-- <mat-panel-description>
                Currently I am {{panelOpenState ? 'open' : 'closed'}}
              </mat-panel-description> -->
              </mat-expansion-panel-header>
              <mat-label class="Income-lable">Value </mat-label>
              <mat-slider (input)="changeMortgage_Residence($event)" class="hotel_expenses" thumbLabel step="10000"
                value="40000" tickInterval="Auto" min="0" max="1000000">
              </mat-slider>
            </mat-expansion-panel>

            <mat-expansion-panel style="background-color: rgb(238, 232, 150) !important;">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Mortgage - Others {{Mortgage_Others}}
                </mat-panel-title>
                <!-- <mat-panel-description>
                  Currently I am {{panelOpenState ? 'open' : 'closed'}}
                </mat-panel-description> -->
              </mat-expansion-panel-header>
              <mat-label class="Income-lable">Value </mat-label>
              <mat-slider (input)="changeMortgage_Others($event)" class="Critical_Illness" thumbLabel step="10000"
                value="40000" tickInterval="Auto" min="0" max="1000000">
              </mat-slider>
            </mat-expansion-panel>

            <mat-expansion-panel style="background-color: rgb(223, 238, 183) !important;">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Auto Loan {{Auto_Loan}}
                </mat-panel-title>
                <!-- <mat-panel-description>
                    Currently I am {{panelOpenState ? 'open' : 'closed'}}
                  </mat-panel-description> -->
              </mat-expansion-panel-header>
              <mat-label class="Income-lable">Value </mat-label>
              <mat-slider (input)="changeAuto_Loan($event)" class="Disability_expenses" thumbLabel step="10000"
                value="40000" tickInterval="Auto" min="0" max="1000000">
              </mat-slider>
            </mat-expansion-panel>

            <mat-expansion-panel class="expansion" style="background-color: rgb(238, 224, 202) !important;">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Credit Card {{Credit_Card}}
                </mat-panel-title>
                <!-- <mat-panel-description>
                Currently I am {{panelOpenState ? 'open' : 'closed'}}
              </mat-panel-description> -->
              </mat-expansion-panel-header>
              <mat-label class="Income-lable">Value </mat-label>
              <mat-slider (input)="changeCredit_Card($event)" class="hotel_expenses" thumbLabel step="10000"
                value="40000" tickInterval="Auto" min="0" max="1000000">
              </mat-slider>
            </mat-expansion-panel>

            <mat-expansion-panel style="background-color: rgb(238, 232, 150) !important;">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Debts {{Debts}}
                </mat-panel-title>
                <!-- <mat-panel-description>
                  Currently I am {{panelOpenState ? 'open' : 'closed'}}
                </mat-panel-description> -->
              </mat-expansion-panel-header>
              <mat-label class="Income-lable">Value </mat-label>
              <mat-slider (input)="changeDebts($event)" class="Critical_Illness" thumbLabel step="10000" value="40000"
                tickInterval="Auto" min="0" max="1000000">
              </mat-slider>
            </mat-expansion-panel>

            <mat-expansion-panel style="background-color: rgb(223, 238, 183) !important;">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Other debt obligations {{Other_debt_obligations}}
                </mat-panel-title>
                <!-- <mat-panel-description>
                    Currently I am {{panelOpenState ? 'open' : 'closed'}}
                  </mat-panel-description> -->
              </mat-expansion-panel-header>
              <mat-label class="Income-lable">Value </mat-label>
              <mat-slider (input)="changeOther_debt_obligations($event)" class="Disability_expenses" thumbLabel
                step="10000" value="40000" tickInterval="Auto" min="0" max="1000000">
              </mat-slider>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>
      <div>
        <button mat-raised-button matStepperPrevious class="float-left" color="primary">Back</button>
        <button mat-raised-button matStepperNext class="float-right" color="primary"
          (click)="nextSaveFinancialStreangth()">Next</button>
      </div>
    </form>
    <!-- financial streangth details form ending -->
  </mat-step>
  <mat-step [stepControl]="thirdFormGroup">
    <!-- cash and income details form starting -->
    <form [formGroup]="thirdFormGroup">
      <ng-template matStepLabel>Cash & Income Need</ng-template>
      <div class="row">
        <div class="col col-lg-4">
          <div class="col" style="overflow: auto; height:280px; margin-bottom: 10px;">
            <mat-accordion>
              <mat-expansion-panel style="background-color: rgb(238, 232, 150) !important;">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Immediate Fund Rs.{{Immediate_Money_Fund}} K
                  </mat-panel-title>
                  <!-- <mat-panel-description>
              </mat-panel-description> -->
                </mat-expansion-panel-header>

                <mat-slider (input)="changeImmediate_Money_Fund($event)" class="Critical_Illness" thumbLabel step="1"
                  value="6" tickInterval="Auto" min="1" max="6">
                </mat-slider>
                <mat-label class="Income-lable">Times {{Immediate_Money_Fund_times}}</mat-label>
              </mat-expansion-panel>

              <mat-expansion-panel style="background-color: rgb(238, 232, 150) !important;">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Debt liquidation Rs.{{Debt_liquidation }} K
                  </mat-panel-title>
                  <!-- <mat-panel-description>
            </mat-panel-description> -->
                </mat-expansion-panel-header>

                <mat-slider (input)="changeDebt_liquidation($event)" class="Critical_Illness" thumbLabel step="1"
                  value="6" tickInterval="Auto" min="1" max="6">
                </mat-slider>
                <mat-label class="Income-lable">Times {{Debt_liquidation_times}}</mat-label>
              </mat-expansion-panel>

              <mat-expansion-panel style="background-color: rgb(238, 232, 150) !important;">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Emergency Fund Rs.{{Emergency_Fund}} K
                  </mat-panel-title>
                  <!-- <mat-panel-description>
            </mat-panel-description> -->
                </mat-expansion-panel-header>

                <mat-slider (input)="changeEmergency_Fund($event)" class="Critical_Illness" thumbLabel step="1"
                  value="6" tickInterval="Auto" min="1" max="6">
                </mat-slider>
                <mat-label class="Income-lable">Times {{Emergency_Fund_times}}</mat-label>
              </mat-expansion-panel>

              <mat-expansion-panel style="background-color: rgb(238, 232, 150) !important;">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Educational Fund Rs.{{Educational_Fund}} M
                  </mat-panel-title>
                  <!-- <mat-panel-description>
            </mat-panel-description> -->
                </mat-expansion-panel-header>
                <mat-label class="Income-lable">Value </mat-label>
                <mat-slider (input)="changeEducational_Fund($event)" class="Critical_Illness" thumbLabel step="2000000"
                  value="10000000" tickInterval="Auto" min="0" max="12000000">
                </mat-slider>
              </mat-expansion-panel>

              <mat-expansion-panel style="background-color: rgb(238, 232, 150) !important;">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Mortgage / Rent {{rentOption ? (CD_rent_amount*120) : Mortgage_Residence+' k'}}
                  </mat-panel-title>
                  <!-- <mat-panel-description>
            </mat-panel-description> -->
                </mat-expansion-panel-header>
                <mat-label class="Income-lable">Monthly Rental {{rentOption ? CD_rent_amount : '  Mortgage'}}
                </mat-label>

              </mat-expansion-panel>
            </mat-accordion>
          </div>
          <mat-divider></mat-divider>
          <div style="color: lightcoral;">
            <label class="float-left"><b>sub total (needs)</b></label>
            <label class="float-right" #subtatleNeed><b>
                {{(Immediate_Money_Fund+Debt_liquidation+Emergency_Fund+(Educational_Fund*1000))*1000+(rentOption ? (CD_rent_amount*120) : (Mortgage_Residence*1000))}}
              </b></label>
          </div>
          <br><br>
          <div>
            <label class="float-left"><b>Cash & Other liquid assets</b></label>
            <label class="float-right" style="color: rgb(131, 241, 136);"><b>
                {{Cash_Other_assets*1000}}
              </b></label>
          </div>
          <br>
          <div>
            <label class="float-left"><b>Existing Life Insurance</b></label>
            <label class="float-right" style="color: rgb(131, 241, 136);"><b>
                {{Life_Insurance*1000}}
              </b></label>
          </div>
          <br><br>
          <mat-divider></mat-divider>

          <div class="mt-0" style="color: rgb(92, 165, 96);">
            <label class="float-left"><b>sub total (Funds)</b></label>
            <label class="float-right"><b>
                {{(Cash_Other_assets+Life_Insurance)*1000}}
              </b></label>
          </div>

        </div>
        <div class="col col-lg-4" style="overflow: auto; height:450px;">
          <label class="cin-total-lable">Total Fund required to protect my <b>Family Financial Decurity</b> <br>
            <p> {{ProtectFamilyFinancialString}}</p>
          </label>

          <div cdkDropList cdkDragDisabled cdkDropListOrientation="horizontal" [cdkDropListData]="done"
            class="example-list2">
            <div class="example-box1 " *ngFor="let dones of done" cdkDrag>
              <img [src]="dones.image" width="Auto" [alt]="dones.title">
            </div>
          </div>
          <mat-divider></mat-divider>

          <div>
            <div class="float-left" style="text-align: center;">
              <!-- <label>{{((Immediate_Money_Fund+Debt_liquidation+Emergency_Fund+(Educational_Fund*1000))*1000+(rentOption ? (CD_rent_amount*120) : (Mortgage_Residence*1000)))-((Cash_Other_assets+Life_Insurance)*1000)}}</label><br> -->
              <label>{{CashNeedString}}</label><br>
              <label>Cash Need</label>
            </div>

            <div class="float-right" style="text-align: center;">
              <label>{{IncomeNeedString}}</label><br>
              <label>Income Need</label>
            </div>
          </div>

        </div>
        <div class="col col-lg-4" style="overflow: auto; height:450px;">
          <div class="row">
            <label class="col-7">
              <p style="font-size: small;">Present Annual Income </p>
            </label>
            <label class="col-4">
              <p style="font-size: small; color: rgb(90, 180, 0); float: right; margin-right: 15%;">Rs.
                {{((amount_father+amount_mother)*1000)*12}}</p>
            </label>
          </div>
          <div class="row">
            <mat-card class="income-objective">
              <mat-card-title style="font-size: small;">Income Objective ({{IncomeObjective.value}} %) <p
                  style="float: right; margin-right: 15%;">Rs.
                  {{((((amount_father+amount_mother)*1000)*12)*IncomeObjective.value)/100}}</p>
              </mat-card-title>
              <mat-divider></mat-divider>
              <mat-card-content>
                <mat-slider (input)="changeIncome_Objective($event)" #IncomeObjective class="Income_Objective"
                  thumbLabel step="10" value="70" tickInterval="Auto" min="0" max="100">
                </mat-slider>
                <mat-divider></mat-divider>
                <br><br>
                <mat-form-field class="full-width">
                  <input matInput type="number" placeholder="Annual Guaranteed incomes" #AnnualGuaranteedincomes
                    (keyup)="OnChangeAnnualGuaranteedincomes(AnnualGuaranteedincomes.value)">
                </mat-form-field>
                <br>
                <mat-form-field class="full-width">
                  <input matInput type="number" placeholder="Other Annual incomes" #OtherAnnualincomes
                    (keyup)="OnChangeGuaranteedOtherIncomeAmount(OtherAnnualincomes.value)">
                </mat-form-field>
                <br>
                <div>
                  <p class="float-left">Total</p>
                  <p class="float-right">{{(AnnualGuaranteedincomes.value*1)+(OtherAnnualincomes.value*1)}}</p>
                </div>
                <br><br>
                <div>
                  <p class="float-left" style="color: lightcoral;">Total Annual Income Shortage</p>
                  <p class="float-right" style="color: lightcoral;">
                    {{(((((amount_father+amount_mother)*1000)*12)*IncomeObjective.value)/100)-((AnnualGuaranteedincomes.value*1)+(OtherAnnualincomes.value*1))}}
                  </p>
                </div>
                <br>
                <label for="assumeIRate">Assumed interest rate {{AssumeInterest.value}} %</label>
                <mat-slider id="assumeIRate" (input)="changeAssumeInterest($event)" #AssumeInterest
                  class="AssumeInterest" thumbLabel step="1" value="5" tickInterval="Auto" min="1" max="25">
                </mat-slider>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>
      <div>
        <button mat-raised-button matStepperPrevious class="float-left" color="primary">Back</button>
        <button mat-raised-button matStepperNext class="float-right" color="primary"
          (click)="nextSaveCashAndInconeNeeddetails()">Next</button>
      </div>
    </form>
    <!-- cash and income details form starting -->
  </mat-step>
  <mat-step [stepControl]="forthFormGroup">
    <!-- retirement and investment details form starting -->
    <form [formGroup]="forthFormGroup">
      <ng-template matStepLabel>Retirement & Investment</ng-template>
      <div class="row">
        <div class="col col-lg-4" style="overflow: auto; height:450px;">
          <mat-card>
            <label for="AnualIncomeRetirement">Focus Annual Income at Retirement</label>
            <mat-form-field class="full-width">
              <input matInput type="number" placeholder="Focus Annual Income at Retirement"
                #FocusAnnualIncomeatRetirement1
                (keyup)="OnChangeFocusAnnualIncomeatRetirement(FocusAnnualIncomeatRetirement1.value)">
            </mat-form-field>
          </mat-card>
          <br>
          <mat-expansion-panel class="expansion" style="background-color: rgb(238, 224, 202) !important;">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Assume interest rate {{Assumeinterestrate}}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-label class="Income-lable">Value </mat-label>
            <mat-slider (input)="changeAssumeinterestrate($event)" class="" thumbLabel step="1" value="5"
              tickInterval="Auto" min="1" max="50">
            </mat-slider>
          </mat-expansion-panel>
          <br>
          <label style="text-align: center; display: inline-block">
            Capital needed to generate focus annual income at Retirement
          </label>
          <br>
          <label style="text-align: center; display: inline-block; width: 100%; color: royalblue;">
            {{CapitalneededString}}
          </label>
          <br>
          <label style="text-align: center; display: inline-block; width: 100%; color: rgb(90, 180, 0);">Total
            Guaranteed income (<b style="color: red;">-</b>)</label>
          <label
            style="text-align: center; display: inline-block; width: 100%; color: royalblue;">{{(AnnualGuaranteedincomes.value*1)+(OtherAnnualincomes.value*1)}}</label>
          <br>
          <mat-divider></mat-divider>
          <label style="text-align: center; display: inline-block">Income Needed from savings</label>
          <br>
          <label style="text-align: center; display: inline-block; width: 100%; color: royalblue;">
            {{Capitalneeded-((AnnualGuaranteedincomes.value*1)+(OtherAnnualincomes.value*1))}}
          </label>
        </div>
        <div class="col col-lg-4" style="overflow: auto; height:450px;">
          <p style="text-align: center; display: inline-block; width: 100%;"> Remaining Years for my <br>
            <b>Financial Independence</b> {{Remaining_Years}}</p><br>
          <div class="row">
            <div class="col">
              Retirement at {{RAge}}
            </div>
            <div class="col">
              <mat-slider (input)="changeRAge($event)" ng-model="rage" class="" thumbLabel step="1" value="55"
                tickInterval="Auto" min="30" max="100" aria-label="rAge" id="rAge-slider">
              </mat-slider>
            </div>
          </div>
          <div cdkDropList cdkDragDisabled cdkDropListOrientation="horizontal" [cdkDropListData]="done"
            class="example-list2">
            <div class="example-box1 " *ngFor="let dones of done" cdkDrag>
              <img [src]="dones.image" width="Auto" [alt]="dones.title">
            </div>
          </div>
        </div>
        <div class="col col-lg-4" style="overflow: auto; height:450px;">
          <mat-accordion>
            <p>Other savings / Investment Needs</p>
            <mat-expansion-panel class="expansion" style="background-color: rgb(238, 224, 202) !important;">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Children higher education fund {{ChildreneducationfundString}}
                </mat-panel-title>

              </mat-expansion-panel-header>
              <mat-label class="Income-lable">Value </mat-label>
              <mat-slider (input)="changeChildreneducationfund($event)" thumbLabel step="1000000" value="2000000"
                tickInterval="Auto" min="0" max="10000000">
              </mat-slider>
            </mat-expansion-panel>
          </mat-accordion>
          <br>
          <mat-accordion>
            <mat-expansion-panel style="background-color: rgb(238, 232, 150) !important;">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Other savings {{OtherSavingsString}}
                </mat-panel-title>

              </mat-expansion-panel-header>
              <mat-label class="Income-lable">Value </mat-label>
              <mat-slider (input)="changeOtherSavings($event)" thumbLabel step="1000000" value="2000000"
                tickInterval="Auto" min="0" max="100000000">
              </mat-slider>
            </mat-expansion-panel>
          </mat-accordion>
          <br>
          <mat-accordion>
            <mat-expansion-panel style="background-color: rgb(223, 238, 183) !important;">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Investment Lump Sum Money {{InvestmentLumpSumString}}
                </mat-panel-title>
              </mat-expansion-panel-header>
              <mat-label class="Income-lable">Value </mat-label>
              <mat-slider (input)="changeInvestmentLumpSum($event)" thumbLabel step="1000000" value="2000000"
                tickInterval="Auto" min="0" max="100000000">
              </mat-slider>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>

      <div>
        <button mat-raised-button matStepperPrevious class="float-left" color="primary">Back</button>
        <button mat-raised-button matStepperNext class="float-right" color="primary"
          (click)=nextSaveRetirementAndInvestmentDetails()>Next</button>
      </div>
    </form>
    <!-- retirement and investment details form ending -->
  </mat-step>
  <mat-step [stepControl]="fifthFormGroup">
    <!-- Summary & Prioritizing form starting-->
    <form [formGroup]="fifthFormGroup">
      <ng-template matStepLabel>Summary & Prioritizing</ng-template>
      <div class="row">
        <div class="col col-lg-4" style="overflow: auto; height:450px;">
          <!-- Leave a Legacy -->
          <mat-card>
            <mat-card-title style="font-size: small; color: #6ab5e1;"> Leave a Legacy</mat-card-title>
            <mat-card-content
              style="border: 1px solid rgb(61, 72, 226); border-radius: 10px; padding-left: 15px; padding-right: 15px; align-content: center; ;">
              <p style="text-align: center; font-size: medium; padding-top: 10px;">Cash Need & Income Need</p>
              <!-- <p style="color: crimson; text-align: center; font-size: large;"><b>Need</b> </p> -->
              <p style="color: crimson; text-align: center; font-size: large">
                {{ProtectFamilyFinancialString>0 ? ProtectFamilyFinancialString : 'Not Set Yet'}}</p>
              <mat-card-footer style="background-color: rgb(61, 72, 226); color: aliceblue;">
                <div>
                  <p style="padding-left: 15px !important;">
                    Financial Security
                    <span
                      style="border-radius: 50px; color: black;  padding: 5px; background-color: gold; width: 50px; margin-left: 15px;" #FinancialSecurity (click)="setPriority(FinancialSecurity.textContent,'FinancialSecurity')" ><b>{{FinancialSecurityValue}}</b></span>
                  </p>
                </div>
              </mat-card-footer>
            </mat-card-content>
          </mat-card>
          <br>
          <!-- Protect Assets from Unexpected expenses -->
          <mat-card>
            <mat-card-title style="font-size: small; color: #6ab5e1;"> Protect Assets from Unexpected expenses
            </mat-card-title>
            <mat-card-content
              style="border: 1px solid rgb(61, 72, 226); border-radius: 10px; padding-left: 15px; padding-right: 15px; align-content: center; ;">
              <!-- <p style="text-align: center; font-size: medium; padding-top: 10px;">Cash Need & Income Need</p> -->
              <!-- <p style="color: crimson; text-align: center; font-size: large;"><b>Need</b> </p> -->
              <p style="margin-top: 15px; color: crimson; text-align: center; font-size: large">
                <b>{{hospital_expenses>0 ?  hospital_expenses*1000 : 'Not Yet thought about'}}</b></p>
              <mat-card-footer style="background-color: rgb(61, 72, 226); color: aliceblue;">
                <div>
                  <p style="padding-left: 15px !important;">
                    Family Health Expenses
                    <span
                      style="border-radius: 50px; color: black;  padding: 5px; background-color: gold; width: 50px; margin-left: 15px;" #FamilyHealthExpenses (click)="setPriority(FamilyHealthExpenses.textContent,'FamilyHealthExpenses')" ><b>{{FamilyHealthExpensesValue}}</b></span>
                  </p>
                </div>
              </mat-card-footer>
            </mat-card-content>
          </mat-card>
          <br>
          <!-- Critical Illness expenses -->
          <mat-card>
            <mat-card-title style="font-size: small; color: #6ab5e1;"> Critical Illness expenses</mat-card-title>
            <mat-card-content
              style="border: 1px solid rgb(61, 72, 226); border-radius: 10px; padding-left: 15px; padding-right: 15px; align-content: center; ;">
              <!-- <p style="text-align: center; font-size: medium; padding-top: 10px;">Cash Need & Income Need</p>
              <p style="color: crimson; text-align: center; font-size: large;"><b>Need</b> </p> -->
              <p style="margin-top: 15px; color: crimson; text-align: center; font-size: large">
                <b>{{Critical_Illness>0 ?  Critical_Illness*1000 : 'Not Yet thought about'}}</b></p>
              <mat-card-footer style="background-color: rgb(61, 72, 226); color: aliceblue;">
                <div>
                  <p style="padding-left: 15px !important;">
                    Critical Illness expenses
                    <span
                      style="border-radius: 50px; color: black;  padding: 5px; background-color: gold; width: 50px; margin-left: 15px;" #CriticalIllnessexpenses (click)="setPriority(CriticalIllnessexpenses.textContent,'CriticalIllnessexpenses')" ><b>{{CriticalIllnessexpensesValue}}</b></span>
                  </p>
                </div>
              </mat-card-footer>
            </mat-card-content>
          </mat-card>
          <br>
          <!-- Disability expenses -->
          <mat-card>
            <mat-card-title style="font-size: small; color: #6ab5e1;"> Disability expenses</mat-card-title>
            <mat-card-content
              style="border: 1px solid rgb(61, 72, 226); border-radius: 10px; padding-left: 15px; padding-right: 15px; align-content: center; ;">
              <p style="margin-top: 15px; color: crimson; text-align: center; font-size: large">
                <b>{{Disability_expenses>0 ?  Disability_expenses*1000 : 'Not Yet thought about'}}</b></p>
              <mat-card-footer style="background-color: rgb(61, 72, 226); color: aliceblue;">
                <div>
                  <p style="padding-left: 15px !important;">
                    Disability expenses
                    <span
                      style="border-radius: 50px; color: black;  padding: 5px; background-color: gold; width: 50px; margin-left: 15px;" #Disabilityexpenses (click)="setPriority(Disabilityexpenses.textContent,'Disabilityexpenses')" ><b>{{DisabilityexpensesValue}}</b></span>
                  </p>
                </div>
              </mat-card-footer>
            </mat-card-content>
          </mat-card>

        </div>
        <div class="col col-lg-4" style="overflow: auto; height:450px; align-content: center;">
          <div cdkDropList cdkDragDisabled cdkDropListOrientation="horizontal" [cdkDropListData]="done"
            class="example-list2">
            <div class="example-box1 " *ngFor="let dones of done" cdkDrag>
              <img [src]="dones.image" width="Auto" [alt]="dones.title">
            </div>
          </div>
        </div>
        <div class="col col-lg-4" style="overflow: auto; height:450px;">
           <!-- Leave a Legacy -->
           <mat-card>
            <mat-card-title style="font-size: small; color: #e16a6a;"> Leave a Legacy</mat-card-title>
            <mat-card-content
              style=" border: 1px solid rgb(226, 86, 61); border-radius: 10px; padding-left: 15px; padding-right: 15px; align-content: center; ;">
              <!-- <p style="text-align: center; font-size: medium; padding-top: 10px;">Cash Need & Income Need</p> -->
              <p style="color: crimson; text-align: center; font-size: large; padding-top: 10px;"><b>Need</b> </p>
              <p style="color: crimson; text-align: center; font-size: large; ">
                {{(Capitalneeded-((AnnualGuaranteedincomes.value*1)+(OtherAnnualincomes.value*1)))>0 ? Capitalneeded-((AnnualGuaranteedincomes.value*1)+(OtherAnnualincomes.value*1)) : 'Not Set Yet'}}</p>
              <mat-card-footer style="background-color: rgb(226, 86, 61); color: aliceblue;">
                <div>
                  <p style="padding-left: 15px !important;">
                    Retirement Income Fund
                    <span
                      style="border-radius: 50px; color: black;  padding: 5px; background-color: gold; width: 50px; margin-left: 15px;" #RetirementIncomeFund (click)="setPriority(RetirementIncomeFund.textContent,'RetirementIncomeFund')" ><b>{{RetirementIncomeFundValue}}</b></span>
                  </p>
                </div>
              </mat-card-footer>
            </mat-card-content>
          </mat-card>
          <br>
          <!-- Other Savings & Income Needs -->
          <mat-card>
            <mat-card-title style="font-size: small; color: #e16a6a;"> Children Higher Education
            </mat-card-title>
            <mat-card-content
              style="border: 1px solid rgb(226, 86, 61); border-radius: 10px; padding-left: 15px; padding-right: 15px; align-content: center; ;">
              <!-- <p style="text-align: center; font-size: medium; padding-top: 10px;">Cash Need & Income Need</p> -->
              <!-- <p style="color: crimson; text-align: center; font-size: large;"><b>Need</b> </p> -->
              <p style="margin-top: 15px; color: crimson; text-align: center; font-size: large">
                <b>{{ChildreneducationfundString>0 ?  ChildreneducationfundString*1000 : 'Not Yet thought about'}}</b></p>
              <mat-card-footer style="background-color: rgb(226, 86, 61); color: aliceblue;">
                <div>
                  <p style="padding-left: 15px !important;">
                    Children Higher Education
                    <span
                      style="border-radius: 50px; color: black;  padding: 5px; background-color: gold; width: 50px; margin-left: 15px;" #ChildrenHigherEducation (click)="setPriority(ChildrenHigherEducation.textContent,'ChildrenHigherEducation')" ><b>{{ChildrenHigherEducationValue}}</b></span>
                  </p>
                </div>
              </mat-card-footer>
            </mat-card-content>
          </mat-card>
          <br>
          <!-- Critical Illness expenses -->
          <mat-card>
            <mat-card-title style="font-size: small; color: #e16a6a;"> OtherSavings</mat-card-title>
            <mat-card-content
              style="border: 1px solid rgb(226, 86, 61); border-radius: 10px; padding-left: 15px; padding-right: 15px; align-content: center; ;">
              <!-- <p style="text-align: center; font-size: medium; padding-top: 10px;">Cash Need & Income Need</p>
              <p style="color: crimson; text-align: center; font-size: large;"><b>Need</b> </p> -->
              <p style="margin-top: 15px; color: crimson; text-align: center; font-size: large">
                <b>{{OtherSavingsString>0 ?  OtherSavingsString*1000 : 'Not Yet thought about'}}</b></p>
              <mat-card-footer style="background-color: rgb(226, 86, 61); color: aliceblue;">
                <div>
                  <p style="padding-left: 15px !important;">
                    Other Savings
                    <span
                      style="border-radius: 50px; color: black;  padding: 5px; background-color: gold; width: 50px; margin-left: 15px;" #OtherSavings (click)="setPriority(OtherSavings.textContent,'OtherSavings')" ><b>{{OtherSavingsValue}}</b></span>
                  </p>
                </div>
              </mat-card-footer>
            </mat-card-content>
          </mat-card>
          <br>
          <!-- Disability expenses -->
          <mat-card>
            <mat-card-title style="font-size: small; color: #e16a6a;">  Investments</mat-card-title>
            <mat-card-content
              style="border: 1px solid rgb(226, 86, 61); border-radius: 10px; padding-left: 15px; padding-right: 15px; align-content: center; ;">
              <p style="margin-top: 15px; color: crimson; text-align: center; font-size: large">
                <b>{{InvestmentLumpSumString>0 ?  InvestmentLumpSumString*1000 : 'Not Yet thought about'}}</b></p>
              <mat-card-footer style="background-color: rgb(226, 86, 61); color: aliceblue;">
                <div>
                  <p style="padding-left: 15px !important;">
                    Investments
                    <span
                      style="border-radius: 50px; color: black;  padding: 5px; background-color: gold; width: 50px; margin-left: 15px;" #Investments (click)="setPriority(Investments.textContent,'Investments')" ><b>{{InvestmentsValue}}</b></span>
                  </p>
                </div>
              </mat-card-footer>
            </mat-card-content>
          </mat-card>
        </div>

      </div>

      <div style="margin-top: 10px;">
        <button mat-raised-button matStepperPrevious class="float-left" color="primary">Back</button>
        <button mat-raised-button matStepperNext class="float-right" (click)="summarySubmit()"
          color="primary">Submit </button>
      </div>
    </form>
    <!-- Summary & Prioritizing form ending -->
  </mat-step>
</mat-horizontal-stepper>